<h1>Secrets</h1>
<form action="/secrets" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="text" name="user">
    <input type="text" name="secret">
    <button type="submit">Submit</button>
</form>
<!-- <% @secret.each do |s|%>
    <%= s.content %>
<% end %> -->

<% @secrets.each do |secret| %>
    <!-- Secret Content that everyone can see -->
        <% if current_user == secret.user %>
    <!-- Secret Content that only the User that created that secret can see.  -->
        <!-- <% end %> -->
    <% end %>